#!/sbin/openrc-run

command="/usr/local/fullboard/fullboard"
command_background=true
pidfile="/run/fullboard.pid"
description="FullBoard Service"
procname="fullboard"
depend() {
    need net
}
start_pre(){
    cd /usr/local/fullboard
}
reload() {
  ebegin "Reloading ${RC_SVCNAME}"
  kill -USR1 $(cat $pidfile)
  eend $?
}